<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer" id="footer" class="footer dark-background">
	<div class="container footer-top">
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6 footer-about">
				<a th:href="@{/}" class="logo d-flex align-items-center">
					<span class="sitename">SPRING</span>
				</a>
				<div class="footer-contact pt-3">
					<p>21, World Cup buk-ro</p>
					<p>Mapo-gu, Seoul, Republic of Korea</p>
					<p class="mt-3"><strong>Phone:</strong> <span>+82 1234 5648</span></p>
					<p><strong>Email:</strong> <span>info@example.com</span></p>
				</div>
				<div class="social-links d-flex mt-4">
					<a href="#"><i class="bi bi-twitter-x"></i></a>
					<a href="#"><i class="bi bi-facebook"></i></a>
					<a href="#"><i class="bi bi-instagram"></i></a>
					<a href="#"><i class="bi bi-linkedin"></i></a>
				</div>				
			</div>
			
			<div class="col-lg-2 col-md-3 footer-links">
				<h4>Useful Links</h4>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Weather</a></li>
					<li><a href="#">Map</a></li>
				</ul>			
			</div>

			<div class="col-lg-2 col-md-3 footer-links">
				<h4>Help &amp; Information</h4>
				<ul>
					<li><a href="#">Help</a></li>
					<li><a href="#">Customer Service</a></li>					
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">청소년보호정책</a></li>
				</ul>
			</div>
			
			<div class="col-lg-4 col-md-12 footer-guide">
				<h4>Our Newsletter</h4>
				<p>SPRING 회원이 되시면 최신 정보 및 서비스 소식을 받아볼수 있습니다.</p>
			</div>
		</div>
	</div>
	
	<div class="container copyright text-center mt-4">
		<p>© <span>Copyright</span> <strong class="px-1 sitename">SPRING</strong> <span>All Rights Reserved</span></p>
	</div>
</div>

</html>