<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/dist/css/board.css}" type="text/css">
</th:block>

<th:block layout:fragment="content">
	<!-- Page Title -->
	<div class="page-title">
		<div class="container align-items-center" data-aos="fade-up">
			<h1>자유 게시판</h1>
			<div class="page-title-underline-accent"></div>
		</div>
	</div>
    
	<!-- Page Content -->    
	<div class="section">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row justify-content-center">
				<div class="col-md-10 board-section my-4 p-5">

					<div class="pb-2">
						<span class="small-title">상세정보</span>
					</div>
									
					<table class="table board-article">
						<thead>
							<tr>
								<td colspan="2" class="text-center" th:text="${dto.subject}">제목 입니다.</td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td width="50%" th:text="${dto.name}">
									작성자 : 김자바
								</td>
								<td width="50%" class="text-end">
									작성일 <span th:text="${dto.reg_date}">2026-09-01</span> | 조회 <span th:text="${dto.hitCount}">10</span>
								</td>
							</tr>
							
							<tr>
								<td colspan="2" valign="top" class="article-content" height="200" style="border-bottom:none;"
									th:utext="${dto.content}">
									내용 입니다.
								</td>
							</tr>

							<tr>
								<td colspan="2">
									<p th:if="${dto.saveFilename != null}" class="border text-secondary mb-1 p-2">
										<i class="bi bi-folder2-open"></i>
										<a th:href="@{/bbs/download/{num}(num=${dto.num})}" class="text-reset" th:text="${dto.originalFilename}">파일명</a>
									</p>
								</td>
							</tr>

							<tr>
								<td colspan="2">
									이전글 : 
									<a th:if="${prevDto != null}"
										th:href="|@{/bbs/article/{num}(num=${prevDto.num})}?${query}|"
										th:text="${prevDto.subject}">이전글 입니다.</a>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									다음글 : 
									<a th:if="${nextDto != null}"
										th:href="|@{/bbs/article/{num}(num=${nextDto.num})}?${query}|"
										th:text="${nextDto.subject}">다음글 입니다.</a>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="row mb-2">
						<div class="col-md-6 align-self-center">
							<button th:if="${session.member.member_id==dto.member_id}" 
								type="button" class="btn-default" 
								th:onclick="|location.href='@{/bbs/update/{num}(num=${dto.num}, page=${page})}'|">수정</button>
							<button th:if="${session.member.member_id!=dto.member_id}" 
								type="button" class="btn-default btnPostsReport" th:data-num="${dto.num}">신고</button>
							
							<button th:if="${session.member.member_id==dto.member_id || session.member.userLevel>50}" 
								type="button" class="btn-default" onclick="deleteOk()">삭제</button>
							<button th:unless="${session.member.member_id==dto.member_id || session.member.userLevel>50}" 
								type="button" class="btn-default" disabled>삭제</button>
						</div>
						<div class="col-md-6 align-self-center text-end">
							<button type="button" class="btn-default"
								th:data-url="|@{/bbs/list}?${query}|"
								onclick="location.href=this.dataset.url">리스트</button>							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<th:block th:if="${session.member.member_id==dto.member_id || session.member.userLevel>50}">
		<script type="text/javascript">
			function deleteOk() {
				if(confirm("게시글을 삭제 하시겠습니까 ?")) {
					const url = '[(@{/bbs/delete/{num}(num=${dto.num})})]?[(${query})]';
					location.href = url;
				}
			}
		</script>
	</th:block>
</th:block>

</html>