<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/dist/css/board.css}" type="text/css">
</th:block>

<th:block layout:fragment="content">
	<!-- Page Title -->
	<div class="page-title">
		<div class="container align-items-center" data-aos="fade-up">
			<h1>자유 게시판</h1>
			<div class="page-title-underline-accent"></div>
		</div>
	</div>
    
	<!-- Page Content -->    
	<div class="section">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row justify-content-center">
				<div class="col-md-10 board-section my-4 p-5">

					<div class="pb-2">
						<span class="small-title" th:text="${mode=='update' ? '게시글 수정' : '게시글 등록'}">게시글 등록</span>
					</div>
				
					<form name="boardForm" action="" method="post" enctype="multipart/form-data">
						<table class="table write-form">
							<tr>
								<td class="col-md-2 bg-light">제 목</td>
								<td>
									<input type="text" name="subject" class="form-control" maxlength="100" th:value="${dto?.subject}" placeholder="Subject">
								</td>
							</tr>

							<tr>
								<td class="col-md-2 bg-light">이 름</td>
								<td>
									<div class="row">
										<div class="col-md-6">
											<input type="text" name="name" class="form-control" readonly tabindex="-1" th:value="${session.member?.name}">
										</div>
									</div>
								</td>
							</tr>
						
							<tr>
								<td class="col-md-2 bg-light">내 용</td>
								<td>
									<textarea name="content" class="form-control" th:text="${dto?.content}" placeholder="Content"></textarea>
								</td>
							</tr>

							<tr>
								<td class="col-md-2 bg-light">파 일</td>
								<td>
									<input type="file" class="form-control" name="selectFile">
								</td>
							</tr>
							
							<th:block th:if="${mode=='update'}">
								<tr>
									<td class="col-md-2 bg-light">첨부된파일</td>
									<td>
										<p class="form-control-plaintext">
											<a th:if="${dto?.saveFilename!=null}" th:href="|javascript:deleteFile('${dto?.num}')|"><i class="bi bi-trash"></i></a>
											<span th:text="${dto.originalFilename}">파일명</span>
										</p>
									</td>
								</tr>
							</th:block>							
						</table>
						
						<div class="text-center">
							<button type="button" class="btn-accent btn-md" onclick="sendOk()"
									th:text="${mode=='write' ? '등록완료' : '수정완료'}">등록완료</button>
							<button type="reset" class="btn-default btn-md">다시입력</button>
							<button type="button" class="btn-default btn-md" th:onclick="|location.href='@{/bbs/list}'|"
									th:text="${mode=='write' ? '등록취소' : '수정취소'}">등록취소</button>

							<th:block th:if="${mode=='update'}">
								<input type="hidden" name="num" th:value="${dto?.num}">
								<input type="hidden" name="saveFilename" th:value="${dto?.saveFilename}">
								<input type="hidden" name="originalFilename" th:value="${dto?.originalFilename}">
								<input type="hidden" name="page" th:value="${page}">
							</th:block>
						</div>						
					</form>

				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript">
		function sendOk() {
			const f = document.boardForm;
			let str;
			
			str = f.subject.value.trim();
			if( ! str ) {
				alert('제목을 입력하세요. ');
				f.subject.focus();
				return;
			}

			str = f.content.value.trim();
			if( ! str ) {
				alert('내용을 입력하세요. ');
				f.content.focus();
				return;
			}

			f.action = '[(@{/bbs/{mode}(mode=${mode})})]';
			f.submit();
		}
	</script>
	
	<th:block th:if="${mode=='update'}">
		<script type="text/javascript">
			function deleteFile(num) {
				if(confirm('첨부된 파일을 삭제하시겠습니까 ? ')) {
					const url = '[(@{/bbs/deleteFile/{num}(num=${num}, page=${page})})]';
					location.href = url;
				}
			}
		</script>
	</th:block>	
</th:block>

</html>